<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Egg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../css/ionic.css"/>
    <link rel="stylesheet" href="../css/video.css"/>
    <script src="../js/ionic.bundle.js"></script>
</head>
<body ng-controller="sideMenuCtrl">
<!--父容器 定义侧边栏菜单-->
<ion-side-menus>
    <!--  中间内容 正文 -->
    <ion-side-menu-content>
        <!--固定头部-->
        <ion-header-bar class="bar-positive">
            <button class="button button-icon icon ion-person" ng-click="openLeftSideMenu()"></button>
            <h4 class="title">动态</h4>
            <button class="button button-icon icon ion-android-menu" ng-click="openLeftSideMenuRight()"></button>
        </ion-header-bar>
        <!--内容-->
        <ion-content>

            <div class="list card">
                <div class="item item-avatar">
                    <img src="../img/p2679.jpg">
                    <h2>Marty McFly <a href=""class="watch">关注</a></h2>
                    <p  class="place">November 05, 19 <i class="ion ion-ios-location"></i></p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="../img/p2679-l.jpg">
                    <p class="write">
                        <a href="#" class="subdued"><i class="ion ion-eye"></i></a>
                        <a href="#" class="subdued"><i class="ion ion-heart"></i></a>
                        <a href="#" class="subdued"><i class="ion ion-ios-redo"></i></a>
                    </p>
                    <div class="list">
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <i class="ion ion-android-create"></i>
                                <input type="text" placeholder="评论">
                            </label>
                        </div>

                    </div>
                </div>

            </div>
        </ion-content>
        <!--固定底部-->
        <div class="tabs tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-ios-flame" style="color: red"></i>
                    最热
                </a>
                <a class="tab-item">
                    <i class="icon ion-film-marker" style="color: #000"></i>
                    拍摄
                </a>
                <a class="tab-item">
                    <i class="icon ion-star" style="color: #F0D340"></i>
                    动态
                </a>
        </div>
    </ion-side-menu-content>

    <!-- 左边 侧边栏菜单-->
    <ion-side-menu side="left">
        <!--用户名-->
        <div class="list">
            <a class="item item-avatar" href="">
                <img src="../img/p2679.jpg" alt=""/>
                <h2>M.yang</h2>
                <p>ack off, man. I'm a scientist.</p>
            </a>
        </div>
        <!--设置-->
        <div class="list">
            <a href="" class="item item-icon-left">
                <i class="ion ion-heart "></i>
                我的关注
            </a>
            <a href="" class="item item-icon-left">
                <i class="ion ion-android-color-palette"></i>
                个性装扮
            </a>
            <a href="" class="item item-icon-left">
                <i class="ion ion-videocamera"></i>
                我的视频
            </a>
            <a href="" class="item item-icon-left">
                <i class="ion ion-film-marker"></i>
                我的收藏
            </a>
            <a href="" class="item item-icon-left">
                <i class="ion ion-ios-camera"></i>
                我的相册
            </a>
            <a href="" class="item item-icon-left">
                <i class="ion ion-android-settings"></i>
                设置
            </a>
        </div>
    </ion-side-menu>
    <!-- 右侧 侧边栏菜单-->
    <ion-side-menu side="right">
        <ul>
            <li><a href="">最新管理</a></li>
            <li><a href="">最热管理</a></li>
            <li><a href="">白名单管理</a></li>
        </ul>
    </ion-side-menu>
</ion-side-menus>

<!--<script>
    var app = angular.module('myApp', ['ionic']);

    /*实现页面的跳转——设置路由*/
    app.config(function ($stateProvider,$urlRouterProvider,$ionicConfigProvider) {
        //页面跳转
        $stateProvider.state('video',{})

    });
    /*声明控制器*/
    app.controller('sideMenuCtrl', ['$scope','$ionicSideMenuDelegate',
        function($scope,$ionicSideMenuDelegate){
            $scope.openLeftSideMenu = function(){
                $ionicSideMenuDelegate.toggleLeft();
            },
                    $scope.openLeftSideMenuRight= function () {
                        $ionicSideMenuDelegate.toggleRight();
                    }
        }]);

</script>-->

</body>
</html>