

/*PAD*/
@media screen and(min-width: 768px)and(max-width:991px ) {

}



/*PC端*/
@media (min-width: 992px){
   #egg-items {
    width: 970px;
       margin: 0 auto;
   }
    .col-md-4,.col-xs-12,.col-sm-6{
        margin-top: 10px;
    }


}
/***********通用样式***********/
a:hover{
    text-decoration: none;
}
/*登录按钮*/
#my-menu>span{
    margin-right: 15px;
}
/*轮播信息图*/
.carousel > .carousel-inner > .item > img {
    width: 100%;/*修改用于将图片拉伸，将左右箭头包括在内部*/
}

/*移动端——phone*/
/*轮播框架*/
@media (max-width: 768px) {
    #egg-items {
        max-width: 1000px;
        max-height: 350px;
        margin: 0 auto;
    }
    /*轮播左右箭头*/
    .navbar-right {
        margin-right: 0;
    }
}

#egg-items{
    margin-bottom: 10px;
}
#egg-items>div.carousel-inner{
    border-radius: 6px;
}
#egg-items img{
    border-radius: 6px;
}
#egg-items .item{
    border-radius: 6px;
}
#egg-items .item,.active{
    border-radius: 6px;
}

div.container div.row{
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*用户精彩信息视频展示*/
div.row ul{
    list-style: none;
    padding-left: 0;
    margin: 4px;
    overflow: hidden;
}
div.row ul li{
    float: left;
    width: 33%;
    text-align: center;
}
/*列表星期*/
div.row p{
    text-align: center;
}
/*列表日期*/

div.row{
    background-color: #E3EFF9;
}
/*div.row img{
    background-size: contain;
}*/
div.row p{
    color: #929292;
}
div.container div.container{
    margin-top: 65px;
}

/*生活的一万种可能*/
p b.bg-danger{
    float: left;
    width: 170px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 6px;
    color: #666;
    font-weight: bold;
    letter-spacing: 3px;
}
p a{
    display: inline-block;
    float: right;
    background-color: #FCD64F;
    width: 170px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 6px;
    color: #666;
    font-weight: bold;
    letter-spacing: 3px;
}
p a>i.glyphicon,.glyphicon-arrow-down{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
p>a>span{
    display: inline-block;
}

/*用户列表标题*/
p.bg-warning{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
}

p.date{
    width: 205px;
    height: 30px;
    margin:  0 auto;
}
p.date>i{
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    line-height: 30px;
}
/*尾部*/
#footer p{
    margin-bottom: 0;
    line-height: 50px;
    color: #bdbdbd;
}
/*摸态框——触发按钮*/
p>a[data-toggle=modal]{
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    background-color:#337AB7;
    color: #fff;
}
/*摸态框——播放*/
#app-model video{
    width: 265px;
    height: 180px;
}
#app-model>div.modal-header span{
    float: right;
    display: inline-block;
}
#app-model>div.modal-header span:hover {
    cursor: pointer;
}

#app-model>div.modal-footer{
    text-align: center;
}
#app-model>div.modal-footer span{
    margin:0 15px ;
}
#app-model>div.modal-footer span i{
    margin-bottom: 9px;
}

