
/*自定义样式*/
a{
    text-decoration: none;
}
/*关注*/
a.watch{
    float: right;

}
/*地点*/
p.place{
    line-height: 20px;
}
p.place>i{
    float: right;
    line-height: 20px;
    margin-right: 10px;
}

/*视频下的所有操作样式*/
p.write{
    margin: 0 25px;
    margin-top: 5px;
}
p.write>a:nth-child(2){
    color: #e4393c;
    padding-left: 25px;
}
p.write>a:nth-child(3){
    float: right;
}