/******所有页面通用样式*****/
input{
    vertical-align: middle;
}

/****************************video 样式*******************************/

/*底部操作样式*/
ion-footer-bar.bar-dark>label{
    margin-right: .8rem;
    vertical-align: middle;
}












